h1 {
  margin: 0;
}

@keyframes run {
  100% {
    background-position: -5000px;
  }
}

@keyframes drunk {
  0% {
    transform: scaleY(1.1) skew(-10deg);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1.1) skew(10deg);
  }
}

body {
  background-color: #111;
  background: -webkit-linear-gradient(
    top,
    #aebcbf 0%,
    #6e7774 9%,
    #0a0e0a 51%,
    #0a0809 100%
  );
  background-attachment: fixed;
}

.wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.world {
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 50% / 25%;
  overflow: hidden;
  position: relative;
  transform: translate(0, 0);
}

.ground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation-name: run;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ground_1 {
  animation-duration: 5s;
  background-image: url(images/1.png);
}
.ground_2 {
  animation-duration: 10s;
  background-image: url(images/2.png);
}
.ground_3 {
  animation-duration: 20s;
  background-image: url(images/3.png);
}
.ground_4 {
  animation-duration: 40s;
  background-image: url(images/4.png);
}

.taxi {
  position: absolute;
  left: 50%;
  bottom: 40px;
  margin-left: -150px;
  animation-name: drunk;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  transform-origin: center bottom;
}

.title {
  color: white;
  text-align: center;
  font-size: 80px;
  font-family: "Sigmar One", cursive;
  margin-top: -50px;
  text-shadow: -5px -10px black;
  position: relative;
}

.title span {
  font-size: 0.3em;
  display: block;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
  color: #ff5533;
}
