main{
    background-color: #f2f4f7;
    display:inline-block;
    width:100%;
}

#main-centered{
    padding: 8px 10px;
    width:1100px;
}

#main-first-block{
    display: inline-block;
    width:100%;
}

#main-ad{
    float:left;
    width: 740px;
    height: 120px;
    background: #555;
    margin-right: 8px;
    margin-bottom: 8px;
}

#main-login{
    width:329px;
    height:120px;
    vertical-align: top;
    background: white;
    margin-bottom: 8px;
    float:left;
}

#main-second-block .inline-block:first-child{
    width:740px;
}

#main-second-block .inline-block:last-child{
    width:332px;
    vertical-align: top;
}


#main-ytn{
    display:inline-block;
    width:740px;
    height:46px;
    background: white;
    margin-right: 8px;
    margin-bottom: 8px;
}

#main-ytn h3, #main-ytn ol {
    display: inline-block;
}


#main-newsstand{
    display:inline-block;
    width:740px;
    height:246px;
    background: white;
    margin-right: 8px;
    margin-bottom: 8px;
}

#main-newsstand h3{
    height: 45px;
    border-bottom: 1px solid #ebeef3;
}

#main-newsstand li {
    float:left;
    width:123px;
    height:67px;
    border-right: 1px solid #f1f3f6;
    border-bottom: 1px solid #f1f3f6;
    text-align: center;
}

#main-newsstand li:nth-child(6) {
    border-right: 0px solid #f1f3f6;
}

#main-newsstand li:nth-child(12) {
    border-right: 0px solid #f1f3f6;
}

#main-newsstand li:nth-child(18) {
    border-right: 0px solid #f1f3f6;
}

#main-newsstand li img{
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

#main-weather{
    display: inline-block;
    width:332px;
    height:142px;
    background: white;
    margin-bottom: 8px;
}

#main-second-ad{
    display: inline-block;
    width: 332px;
    height:150px;
    background: #555;
    margin-bottom: 8px;
}

#main-category{
    float:left;
    width:740px;
    height:837px;
    background: white;
    margin-bottom: 8px;
    margin-right: 8px;
}

#main-shopping{
    float:left;
    width:332px;
    height:837px;
    background: white;
    margin-bottom: 8px;
}

#main-event{
    float:left;
    width:740px;
    height:130px;
    background: white;
    vertical-align: top;
    margin-right: 8px;
}

#main-third-ad{
    float:left;
    width:332px;
    height:130px;
    background: #555;
}

#main-third-block,
#main-fourth-block {
    display: inline-block;
    width: 100%;
}