body{
    background-color: lightblue;

}

.wrapper{
    background-color: rgb(240, 178, 178);
    width: 800px;
    /* 가운데 정렬 */
    /* margin-right: auto;
    margin-left: auto; */
    margin: 0 auto;
}
.header{
    background-image: utl("images2/cloud.png");
    text-align: center;
}
.footer{
    background-color: thistle;
}