.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.timeline {
  padding: 10px 0;
  margin: 0 -40px;
  position: relative;
}

/* .timeline::before {
  content: " ";
  background-color: dodgerblue;
  position: absolute;
  left: 50%;
  top: 50px;
  bottom: -100px;
  margin: 80px 0 -100px;
  width: 6px;
  transform: translateX(-50%);
} */

.timeline-item {
  width: 50%;
  padding: 0 40px;
  box-sizing: border-box;
  position: relative;
}

/* .timeline-item:before {
  content: " ";
  background-image: url(images/bg.png);
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 6px solid dodgerblue;
  margin: 50px -21px;
} */

.timeline-item:after {
  content: " ";
  background-color: dodgerblue;
  position: absolute;
  right: 0;
  width: 30px;
  height: 5px;
  top: 65px;
  margin: 0 35px;
}

.timeline-item:nth-child(even) {
  margin-left: auto;
  margin-top: -120px;
  margin-bottom: -220px;
}

.timeline-item:nth-child(even):before,
.timeline-item:nth-child(even):after {
  left: 0;
}

.tour {
  background-color: #000;
  min-height: 400px;
}

.tour-cover {
  width: 100%;
}

.tour-contents {
  padding: 30px;
}

.tour-contents h2 {
  margin-bottom: 20px;
  font-size: 50px;
}

.tour-contents h2 strong {
  display: block;
  color: #999;
}

.tour-contents p {
  line-height: 1.4;
  color: #999;
}

@media (max-width: 720px) {
  .timeline-item:nth-child(even),
  .timeline-item {
    width: auto;
    margin: 0 0 40px 50px;
  }

  .timeline:before {
    left: 46px;
    transform: none;
  }
  .timeline-item:after,
  .timeline-item:before {
    left: 0;
  }
}
