<!DOCTYPE html>
<html>
<head>
   <title>메모앱</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, user-scalable=no">
   <link href="https:necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet" />
   <link href="app.css" rel="stylesheet" />
</head>
<body>
    <div id="app" class="app">
       <div class="head">메모 앱</div>
       <div class="body">
           <div class="list" v-if="mode === 'list'">
                <ul>
                        <li v-for="m in memos" v-on:click="open(m.id)">{{ m.content }}</li>
                </ul>
            </div>
            <div class="write" v-else>
                <textarea v-model="memo.content"></textarea>
                <button class="save-btn" type="button" v-on:click="save()">저장</button>
                <button class="cancel-btn" type="button" v-on:click="cancel()">취소</button>
            </div>     
            <button type="button" class="add-btn"  v-on:click="write()" v-if="mode === 'list'">+</button>
       </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="app.js"></script>
</html>