<!DOCTYPE html>
<html>
<head>
   <style>
      button{
          background: white;
          border: 1px solid gray;
          margin: 0 5px;
          cursor: pointer;
      } 
      button.active{
          background: blue;
          color:white;
          border-color: blue;
      }
   </style>
</head>
<body>
    <div id="app">
        <button v-for="p in pages"  v-bind:class="{'active' : page === p}"  @click="page = p">{{p}}</button>
        <hr />
        <div v-for="p in pages" v-if="page === p">
              <p>{{p}} contents</p>  
              <!-- img 폴더 안에 page1  page2  page3  page4 이미지-->
              <img v-bind:src="'img/' + p + '.png'" />
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script>
    //v-bind  선언하기
  var App =  new Vue({
        el:'#app' ,
        data:{
            page:'page1',
            pages:[ 'page1' , 'page2' , 'page3' , 'page4']
        }
    });
</script>
</html>