* {
    box-sizing: border-box;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-width: 1280px;
    height: 141px;
    text-align: center;
    border-bottom: 1px solid #ffbc0d;
    background: #fff;
}

header, footer{
    display: block;
}

.header .headArea {
    height: 100%;
}

.headArea, .footArea {
    width: 1168px;
    margin: 0 auto;
}

.header .hLogo {
    position: relative;
    top: 28px;
    float: left;
    z-index: 1;
}

h1, h2, h3, h4, h5, h6, strong, b {
    font-weight: 500;
}

.header .hLogo a {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    margin: 0;
    padding: 0;
    line-height: 0;
    vertical-align: top;
}

img {
    border: 0 none;
    background: none;
}

.header .hMenu {
    height: 100%;
    padding: 52px 0;
}

nav {
    display: block;
}

.header .hMenu .menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #fff;
}


.header .hMenu .menu .depth1 {
    display: inline-block;
    padding-left: 60px;
    text-align: left;
    vertical-align: top;
}

ul, ol, li {
    list-style: none outside;
}

.header .hMenu .menu .depth1>li {
    float: left;
}

.header .hMenu .menu .depth1>li .dth1 {
    position: relative;
    margin-right: 85px;
    padding: 0 10px;
    color: #292929;
    font-size: 20px;
    line-height: 140px;
    font-weight: 600;
}

.header .hMenu .menu .depth1 a {
    display: inline-block;
    vertical-align: top;
}

.header .hMenu .menu .depth2 {
    display: none;
    padding: 35px 10px 45px;
}

.header .hMenu .menu .depth2>li:first-child {
    margin-top: 0;
}

.header .hMenu .menu .depth2>li {
    margin-top: 15px;
}

.header .hMenu .menu .depth2>li .dth2 {
    line-height: 1.6;
    border-bottom: 1px solid transparent;
}