body,
ul,
h1 {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

h1 {
  margin: 20px 0;
  color: white;
}

li {
  list-style-type: none;
}

.l_wrapper {
  /* background-color:skyblue; */
  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;
}

.l_row {
  margin: 0 -10px;
}

.l_row:after {
  content: " ";
  display: block;
  clear: both;
}

.l_col {
  float: left;
  width: 33.33333333%;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.l_col_12_12 {
  width: 100%;
}
.l_col_11_12 {
  width: 91.66666667%;
}
.l_col_10_12 {
  width: 83.33333333%;
}
.l_col_9_12 {
  width: 75%;
}
.l_col_8_12 {
  width: 66.66666667%;
}
.l_col_7_12 {
  width: 58.33333333%;
}
.l_col_6_12 {
  width: 50%;
}
.l_col_5_12 {
  width: 41.66666667%;
}
.l_col_4_12 {
  width: 33.33333333%;
}
.l_col_3_12 {
  width: 25%;
}
.l_col_2_12 {
  width: 16.66666667%;
}
.l_col_1_12 {
  width: 8.33333333%;
}

.animal {
}

.animal img {
  width: 100%;
}

@media (max-width: 720px) {
  .l_col {
    width: 100%;
  }
}
