*{
    margin:0px;
    color:green;
}
strong{
    color:red;
}

p{
    background-color: darkgreen;
    color: white;
}
p.margin{
    margin-top:50px;
}
.darkTemplar{
    color:white;
    background-color: white;
}

#navigation{
    background-color: gray;
    color:yellow;
    padding:40px 20px;
}
#navigation span{
    color:white;
}

input[type="text"]{
    width:200px;
    border: 1px solid #202020;
}

input[type="password"]{
    width:200px;
    border:1px solid #202020;
}

a :visited{
    color:blue;
}
a:link{
    color:gray;
}
a:hover{
    color:pink;
}